body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F0F8FF;
    color: #000;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

h1 {
    font-size: 3.5em;
    margin: 0 10px;
    text-align: center;
    color: #349ecd;
}

span {
    color: #0f62b6;
}

h2 {
    font-weight: 100;
    font-size: 1.25em;
}

#gif {
    display: flex;
    margin-top: 30px;
    height: 130px;
    width: auto;
    margin: 0px;
} 

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 550px;
    min-height: 200px;
    background-color: #9fd6fa;
    border-radius: 15px;
    padding: 40px;
    padding-top: 10px;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    padding-top: 10px;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

input, button {
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

input {
    background-color: #fff;
    width: calc(100% - 170px);
    max-width: 500px;
    height: 50px;
    margin: 10px 0;
    border: 2px solid #0000;
}

#cmg {
    margin-left: 10px;
}

button {
    background-color: #2991b7;
    color: #ffff;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    width: 200px;
    height: 50px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

#inst {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: #000;
    width: 100%;
}

#result {
    margin-top: -5px;
    background-color: #34adeaca;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 5px;
    color: #fff;
    width: 50%;
}

#notifywin {
    margin-bottom: 10px;
    color: #fff;
}

#play {
    border-radius: 80%;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

#ref {
    display: block;
    font-size: 24px;
    height: 9px;
    margin-top: 9px;
    margin-left: 12.5px;
    transform: rotate(150deg);
    font-weight: bolder;
    color: #F0F8FF;
}

#diff {
    display: flex;
    align-items:center;
    justify-content:flex-end;
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    color: #000;
}

#head {
    margin-right: 10px;
}

/* Custom styles for the select dropdown */
#dropdown {
    appearance: none;
    /* background-color: rgba(76, 186, 36, 0.695);
     */
     background-color: #349fcdc8;
    color: #fff;
    width: 60px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size:15px;
    text-align: center;
    /* box-shadow: 0 6px 16px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19); */
}

#dropdown:focus {
    outline: none;
    /* box-shadow: 0 0 0 3px rgba(121, 175, 198, 0.5); */
}
#head{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dropdown option {
    background-color: #fff;
    color: #000;
}

#confetti {
    height: 0;
    width: 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .box {
        padding: 20px;
    }

    input, button {
        width: 100%;
        margin: 5px 0;
    }

    #inst {
        padding: 10px;
    }

    #diff {
        flex-direction: column;
        align-items: flex-start;
    }

    #head {
        margin-bottom: 10px;
    }
}
@media (min-width: 601px) and (max-width: 1000px) {
    h1 {
        font-size: 2.5em;
    }

    .box {
        padding: 30px;
    }

    input, button {
        width: 80%;
    }

    #result, #notifywin {
        width: 90%;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    .box {
        padding: 20px;
    }

    input, button {
        width: 100%;
        margin: 5px 0;
        height: auto;
    }

    #inst {
        padding: 10px;
    }

    #result, #notifywin {
        width: 100%;
    }

    #diff {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #head {
        margin-bottom: 10px;
    }

    #dropdown {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    
    }
}